body {
    background-color: white;
    padding: 100px;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1, h2, p, ul, li {
    font-family: sans-serif;
    position: relative;
  }

  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
    position: right;
  }

  ul.header {
    background-color: #3f51b5;
    padding: 0;
  }

  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }

  .content {
    background-color: #FFF;
    padding: 0px;
  }

  .content h2 {
    padding: 0;
    margin: 0;
  }

  .content li {
    margin-bottom: 10px;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }