.App {
  min-height: 100vh;
  background-color: rgb(119, 119, 119);
}

.main-toolbar {
  background-color: #56935c;
}

.sort-bar {
  position: relative;
  left: 5%;
}

.menu {
  color: rgb(255, 255, 255);
}

.user {
  text-transform: lowercase;
}

.dataset-box {
  background-color: antiquewhite;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.sort-name {
  margin-top: 10px;
  color: white;
  display: block;
  text-align: center;
  font-weight: bold;
}
  
.bar-wrapper {
  color: black;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
  
.buttons-wrapper {
  display: block;
  text-align: center;
}

.record-wrapper {
  display: block;
  text-align: center;
}
  
.bar {
  display: inline-block;
  color: 'white';
  width: 20px;
  margin-right: 3px;
}

.clearfix {
  overflow: auto;
}

.linkToLoginRegister {
  position: center;
}

.dropdown-button {
  color: 'blue';
}