.player {
    width: 43%;
    height: 55%;
    margin-left: 10%;
    float: right;
}

.react-player {
    width: 70%;
    height: 100%;
}

.rectangle {
    margin-left: 10%;
    margin-right: 20%;
    float: right;
    background: black;
}

.sort-list {
    width: 43%;
    float: left;
    margin-left: 2%;
}

.file-uploader {
    margin-left: 2%;
    background-color: #56935c;
    margin-right: 86%;
}

.clearfix {
    clear: both
}